 <?xml version="1.0" encoding="UTF-8"?>
 
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  		id="com.manueldeveloper.speech-recognizer"
  		version="0.0.2">
 
  	<name>SpeechRecognizer</name> 	
  	<description>Cordova plugin which provides a speech recognition service</description> 	
  	<license>Apache 2.0</license> 	
  	<keywords>cordova,speech,recognizer,recognition</keywords>
 
  	<js-module src="www/speechrecognizer.js" name="speechrecognizer">
  		<clobbers target="navigator.speechrecognizer" />
  	</js-module>
 
  	<!-- android -->
  	<platform name="android">
 	 	<config-file target="res/xml/config.xml" parent="/*">
 		 	<feature name="SpeechRecognizer">
 			 	<param name="android-package" value="com.manueldeveloper.SpeechRecognizer"/>
 			</feature>
 		</config-file>
 
 		<source-file src="src/android/SpeechRecognizer.java" target-dir="src/com/manueldeveloper" />
 	</platform>
  </plugin>